{% extends 'layout.html' %}
{% block content %}
<div id="map-canvas" style="top:0;left:0;width:1280px;height:720px;position:absolute;"></div>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
</script>
<script>

function drawHeatmap(heatmapData) {
    var heatmap = new google.maps.visualization.HeatmapLayer({
      data: heatmapData,
      radius: 64,
      maxIntensity: 1
    });
    heatmap.setMap(map);
}

function drawPaths(pathData) {
  var path = new google.maps.Polyline({
      path: pathData,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 3
  });

  path.setMap(map);
}

$(function() {
    $.get('/api/route/4940100', function(response) {
        var data = $.map(response.stations, function(v, i) {
            return new google.maps.LatLng(v.latitude, v.longitude);
        });
        drawPaths(data);
    });

    var center = new google.maps.LatLng(37.394874, 127.111239);

    map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: center,
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.MAP
    });
});



</script>
{% endblock %}
